DB_HOST=db
DB_PORT=5432
DB_USER=admin
DB_PASSWORD=pass123
DB_NAME=green-visa

EMAIL_SENDER = "testmailsender@gmail.com"
PASS_SENDER =   "abcd efgh ijkl mnop"
SECRET_KEY = "hexsecretkey"

USERNAME_ADMIN = "ADMIN"
EMAIL_ADMIN = "testmailadmin@gmail.com"
PASS_ADMIN="adminpassword"

STRIPE_PRIVATE_KEY=stripe_private_key

CLIENT_URL = http://client-host.com:5173
SERVER_URL = http://server-host.com:8080


