DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=


#official email sender
#EMAIL_SENDER = ""

EMAIL_SENDER = ""
PASS_SENDER =   ""
SECRET_KEY = ""

USERNAME_ADMIN = ""
EMAIL_ADMIN = ""
PASS_ADMIN=""

STRIPE_PRIVATE_KEY=

CLIENT_URL = http://localhost:5173

SERVER_URL = http://localhost:8080


